Repository Bright-L01/proof-sketcher, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, parser, generator, exporter, cli, tests, ci/cd, dependencies, security

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically adds labels to PRs based on changed files

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - "*.md"
      - README.md
      - ALPHA_STATUS.md

parser:
  - changed-files:
    - any-glob-to-any-file:
      - src/proof_sketcher/parser/**

generator:
  - changed-files:
    - any-glob-to-any-file:
      - src/proof_sketcher/generator/**

exporter:
  - changed-files:
    - any-glob-to-any-file:
      - src/proof_sketcher/exporter/**

cli:
  - changed-files:
    - any-glob-to-any-file:
      - src/proof_sketcher/cli/**

tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - "**/test_*.py"
      - "**/*_test.py"

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - .pre-commit-config.yaml

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - requirements*.txt
      - pyproject.toml
      - poetry.lock
      - Pipfile
      - Pipfile.lock

security:
  - changed-files:
    - any-glob-to-any-file:
      - src/proof_sketcher/security/**
      - src/proof_sketcher/config/**
      - "**/auth*"
      - "**/secure*"

alpha:
  - changed-files:
    - any-glob-to-any-file:
      - "**"
  - head-branch:
    - "alpha/*"
    - "experimental/*"

fix: improve test compatibility and fix ProofStep validation errors
  FUNCTIONALITY_VALIDATION_REPORT.md
  add_zero.md
  bandit_report.json
  docs/reports/classical_examples_report.md
  scripts/analysis/error_handling_final_report.py
  scripts/fix_proofstep_tests.py
  src/proof_sketcher/__main__.py
  src/proof_sketcher/cli.py
  src/proof_sketcher/cli/__init__.py
  src/proof_sketcher/cli/commands/__init__.py
  src/proof_sketcher/cli/commands/cache.py
  src/proof_sketcher/cli/commands/enhance.py
  src/proof_sketcher/cli/commands/info.py
  src/proof_sketcher/cli/commands/optimize.py
  src/proof_sketcher/cli/commands/performance.py
  src/proof_sketcher/core/__init__.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/test_classical_examples.py
  tests/integration/test_end_to_end.py
  tests/integration/test_full_pipeline.py
  tests/integration/test_mathlib_real.py
  tests/unit/test_docgen_plugin.py
  tests/unit/test_exporters.py
Labels: documentation, cli, tests

fix: improve exporter classes and test compatibility
  add_zero.md
  docs/reports/FUNCTIONALITY_VALIDATION_REPORT.md
  docs/reports/bandit_report.json
  real_add_zero.md
  src/proof_sketcher/exporter/html.py
  src/proof_sketcher/exporter/markdown.py
  test_theorem.lean
  tests/data/lean_examples/test_theorem.lean
  tests/data/lean_examples/test_theorem_ci.lean
  tests/integration/test_full_pipeline.py
  tests/integration/test_mathlib_real.py
  tests/unit/test_exporters.py
Labels: documentation, exporter, tests

CRITICAL: Phase 1 test infrastructure fixes - READY FOR GITHUB
  .secrets.baseline
  analyze_test_failures.py
  demos/live_demo_script.py
  demos/production_demo.py
  src/proof_sketcher/exporter/html.py
  test_output.txt
  test_theorem.lean
  tests/conftest.py
  tests/integration/test_parser_generator.py
  tests/unit/test_exporters.py
Labels: exporter, tests

fix: Major improvements to SimpleLeanParser and integration test compatibility
  analyze_test_failures.py
  src/proof_sketcher/cli/__init__.py
  src/proof_sketcher/docgen_plugin/content_generator.py
  src/proof_sketcher/exporter/__init__.py
  src/proof_sketcher/exporter/markdown.py
  src/proof_sketcher/exporter/simple_markdown.py
  src/proof_sketcher/exporter/template_manager.py
  src/proof_sketcher/generator/models.py
  src/proof_sketcher/generator/semantic_generator.py
  src/proof_sketcher/generator/simple_generator.py
  src/proof_sketcher/parser/config.py
  src/proof_sketcher/parser/simple_parser.py
  test_output.txt
  tests/integration/test_parser_generator.py
  tests/unit/test_exporters.py
Labels: parser, generator, exporter, cli, tests

fix: major progress on integration/full_pipeline tests (3/5 passing)
  src/proof_sketcher/exporter/models.py
  src/proof_sketcher/parser/models.py
  tests/integration/test_full_pipeline.py
Labels: parser, exporter, tests

feat: BREAKTHROUGH - All HTML exporter tests passing (4/4)
  src/proof_sketcher/exporter/models.py
  src/proof_sketcher/exporter/simple_html.py
  tests/unit/test_exporters.py
Labels: exporter, tests

fix: Security test InputValidator sanitization logic
  tests/security/test_input_validation.py
Labels: tests

fix: Partial CLI test improvements and security fix push
  security_fix_results.txt
  src/proof_sketcher/cli/__init__.py
  src/proof_sketcher/config/config.py
  src/proof_sketcher/parser/models.py
  tests/integration/test_full_pipeline.py
  tests/test_cli.py
  updated_test_output.txt
Labels: parser, cli, tests, security

feat: MAJOR BREAKTHROUGH - Parser & CLI test fixes
  src/proof_sketcher/core/resource_limits.py
  src/proof_sketcher/parser/simple_parser.py
  tests/test_cli.py
Labels: parser, tests

feat: MAJOR CLI TEST BREAKTHROUGH - 75.7% pass rate!
  tests/test_cli.py
Labels: tests

feat: SECURITY FIXES BREAKTHROUGH - Even closer to 80%!
  src/proof_sketcher/core/resource_limits.py
  src/proof_sketcher/parser/simple_parser.py
  tests/unit/test_exporters.py
Labels: parser, tests

feat: BREAKTHROUGH - Achieve 80.1% test coverage + restore CI/CD
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  80_percent_fix_strategy.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/check_test_existence.py
  src/proof_sketcher/docgen_plugin/content_generator.py
  test_failure_analysis.md
  tests/integration/test_full_pipeline.py
  tests/integration/test_mathlib_real.py
  tests/manual_tests/test_critical_error_handling.py
  tests/test_cli.py
  tests/unit/test_docgen_plugin.py
  tests/unit/test_exporters.py
  tests/unit/test_mathlib_integration.py
Labels: documentation, tests, ci/cd, dependencies
